<h2 class="pretty-font h-color part-header">
  Simple examples!
</h2>
<md-toolbar>
  <span class="component-link"><a routerLink="clickevent">Click event</a></span>
  <span class="component-link"><a routerLink="fromarray">From array</a></span>
  <span class="component-link"><a routerLink="clicktoarray">Click to array</a></span>
  <span class="component-link"><a routerLink="randomcolor">Random color</a></span>
  <span class="component-link"><a routerLink="nameavatar">Name and avatar</a></span>
  <span class="component-link"><a routerLink="datafromevent">Data from event</a></span>
</md-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
