<div style="text-align:center">
  <h1 class="pretty-font h-color">
    Welcome to {{title}}!
  </h1>
</div>
<div class="div-half h-color">
  <div>
    <div style="height: 5vh">

    </div>
    <div>
      <a routerLink="/simple" class="base-links pretty-font comment-color">Simple examples</a>
      <br>
      <br>
      <a routerLink="/complex" class="base-links pretty-font comment-color">Complex examples</a>
    </div>
  </div>
</div>
<div class="div-half">
  <img width="60%" src="./../assets/images/applousesmile.png">
</div>
<router-outlet></router-outlet>

