<ng-template #elseSpinner>
  <td colspan="3">
    <md-progress-bar style="width:100%;"
                     [color]="'warn'"
                     [mode]="'indeterminate'">
    </md-progress-bar>
  </td>
</ng-template>
<h4>
  Server event example!
</h4>
<div style="text-align: center">
  <h4>Heroes</h4>
  <table class="result-table">
    <tr>
      <th>
        ID
      </th>
      <th>
        Name
      </th>
      <th>
        Power
      </th>
      <th>
        Descriptor
      </th>
    </tr>
    <tr *ngFor="let one of all">
      <td *ngIf="one.id">
        {{one.id}}
      </td>
      <td *ngIf="one.name; else elseSpinner">
        {{one.name}}
      </td>
      <td *ngIf="one.name">
        {{one.power}}
      </td>
      <td *ngIf="one.name">
        {{one.descriptor}}
      </td>
    </tr>
    <tr *ngIf="eventSource && eventSource.readyState === eventSource.OPEN">
      <td style="padding-left: 10%">
        <md-spinner style="width:30px; height: 30px;"
                    [color]="'accent'"
                    [mode]="'indeterminate'">
        </md-spinner>
      </td>
    </tr>
  </table>
</div>
