.result-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #009fe3;

  th, td {
    width: 15%;
    border: 1px solid #009fe3;
  }

  th:last-child, td:last-child {
    width: 25%;
  }

  tr:nth-child(even) {
    background: rgba(0, 159, 227, 0.1);
  }
}
