/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$header-color: #e4003a;
$comment-color: #009fe3;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.div-half {
  float: left;
  width: 50%;
  padding-left: 15%;
}

.pretty-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.h-color {
  color: $header-color;
}

.comment-color {
  color: $comment-color;
}

.base-links-cover {
  font-size: 1.1em;
  padding-left: 6%;
  .base-links {
    text-decoration: none;
  }
}

.component-link {
  padding-left: 3%;
  font-size: 1em;
  a {
    text-decoration: none;
    color: $comment-color;
  }
}

.part-header {
  padding-left: 15%;
}

main {
  margin: 0 auto;
  width: 80%;
}

.chart-component-div {
  display: block;
  width: 30%;
  margin: 1%;
  float: left;
}

.centered-text {
  text-align: center;
}
